      body { 
        background: rgb(211, 214, 219) none repeat scroll 0 0; margin: 0; 
        padding: 0; font-family: Arial,Helvetica,sans-serif; font-size: small; 
      }
      
      .header { 
        background: rgb(59, 89, 152) none repeat scroll 0 0; 
        height: 45px; 
        margin: 0; 
        padding: 0;
      }

      .header table{
		width: 100%;
      }

      .item { 
        color: rgb(31, 36, 48); 
        margin-bottom: 3px; 
        padding: 2px; 
        background: rgb(255, 255, 255) none repeat scroll 0 0; font-size: small; 
        border-radius: 3px; 
      } 

      .item .track { 
          font-weight: bold; 
          font-size: small; 
      }

      .item .lightblue2 { 
        color: rgb(0, 0, 0); 
        margin-top: 2px; 
        font-size: 12px; 
        font-weight: bold; 
      }
      
        .track a { 
        color: rgb(59, 89, 152); 
        text-decoration: none; 
      }

      .clear { 
        clear: both; 
      }
      
      .item .img { 
        float: left; 
        border: 0 solid rgb(102, 102, 102); 
        padding: 1px; 
      }
      
      .contestwrap { 
        margin-bottom: 5px; 
      }
      
      .toptext { 
        background: rgb(255, 255, 255) none repeat scroll 0 0; 
        min-height: 40px; 
        color: rgb(30, 35, 48); 
        font-size: 14px; 
        padding: 10px 10px 5px; 
        border-radius: 3px; 
      }
      
        .secondary { 
        color: rgb(31, 36, 48); 
        margin-top: 5px;
        margin-bottom: 5px; 
      }
      
      .secondary span.lightblue { 
        color: rgb(31, 36, 48); 
        font-weight: bold; padding-right: 5px; 
      }

      .container { 
        padding: 8px; 
      }

      .button { 
        width: 170px; 
        display: block; 
        outline: 0 none; 
        padding: 0 8px; 
        margin-top: 8px; 
        text-align: center; 
        background-image: -webkit-linear-gradient(rgb(12, 152, 197), rgb(12, 152, 197));
        background-image: -o-linear-gradient(rgb(12, 152, 197), rgb(12, 152, 197));
        background-image: linear-gradient(rgb(12, 152, 197), rgb(12, 152, 197)); 
        border: 0 solid rgb(78, 200, 239); 
        text-shadow: 0 0 rgba(0, 0, 0, 0.1); 
        border-radius: 1px; cursor: default; 
        color: white; font-size: 20px; 
        font-weight: bold; 
        height: 33px; 
        line-height: 33px;
      }

      a.button { 
        text-decoration: none;
      }

      .rating { 
        font-size: 12px; 
      }

      .button1 { 
        width: 170px; 
        display: block; 
        outline: 0 none; 
        padding: 0 8px; 
        margin-top: 8px;
        text-align: center;
        background-color: rgb(159, 159, 159);
        border: 0 solid rgb(102, 102, 102);
        color: rgb(255, 255, 255);
        border-radius: 1px;
        cursor: default; font-size: 20px;
        font-weight: bold; 
        height: 33px;
        line-height: 33px;
      }

      a.button1 { 
        text-decoration: none; 
      }

      .select { 
        background: rgb(255, 255, 255) none repeat scroll 0 0; 
        margin: 3px 0px 5px; 
        color: rgb(31, 36, 48); 
        font-size: small; 
        line-height: 18px; 
        padding: 5px; 
        border-radius: 3px; 
      }

      .left { 
        float: left; 
        width: 100px;
        margin-right: 5px;
        text-align: center;
        min-height: 60px;
      }

      .right { 
        float: left;
        width: 65%;
      }

      .comments { 
        background: rgb(255, 255, 255) none repeat scroll 0 0; 
        border-radius: 3px; 
        margin: 3px 0; 
        padding: 5px;
      }
      .city{
			font-weight:bold;
      }
      .device{
      		font-weight:bold;
      }

    